<h2 id='title'>{{#link-to 'application'}}Welcome to Ember.js{{/link-to}}</h2>
{{#link-to 'login'}}Login{{/link-to}}
{{#link-to 'signup'}}Sign-Up Here{{/link-to}}
{{#if loggedIn}}
<h1>Welcome {{user.name}}!</h1>
<img {{bind-attr src='user.pic' }} />
{{/if}}
{{outlet}}
<button {{action 'logout'}}>Logout</button>
